.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.transparent {
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s;
}

.transparent:hover{
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.7rem;
}

.pepe {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 30%;
}

@media only screen and (min-width: 992px) {
  .pepe {
      max-width: 50%;
  }
}

@media only screen and (min-width: 192px) {
  .navbar {
    background-color: white;
    border-radius: 1rem;
  }
}

@media only screen and (min-width: 1400px) {
  .pepe {
      max-width: 35%;
  }
}